<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://raknam.fr/MyTV" version="2.0.0" viewmodes="maximized">
  <tizen:application id="Raknam0000.MyTVv2" package="Raknam0000" required_version="2.3"/>
  <name>MyTV</name>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <icon src="icon.png"/>
  <tizen:profile name="tv"/>
  <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>